{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-between mt-5">
    <div class="">
        <a class="btn btn-primary" href="{% url 'posts' %}">All</a>
        {% for c in categories %}
            <a class="btn btn-primary" href="{% url 'posts_by_category' c.0 %}">{{ c.1 }}</a>
        {% endfor %}
    </div>
    <div class="">
        <a class="btn btn-dark" href="{% url 'home' %}">Home</a>
        <a class="btn btn-success" href="{% url 'create_post' %}">Create Post</a>
    </div>
 
</div>

    <div class="mt-5">
    {% for post in posts %}
    <div class="mb-5">
        <h2>{{ post.heading }}</h2>
        <div>{{ post.content| safe }}</div>
        <p>posted on {{ post.published }} by BlogOwner</p>
    </div>
    {% endfor %}
    </div>

    <br>

{% endblock %}